            <div class="well well-out">
                <%#= form_for @sb, url: {controller: 'admin', action:'add_sb'} do |f| %>
                <form action="/admin/m_menu" method="POST">
                    <input type="hidden" name="mod" value="<%= @mod %>">
                    <input type="hidden" name="id" value="<%= @menu.id %>">
                    <div class="well well-in">
                        <div class="form-group2">
                            <label>소속 navbar</label>
                            <select name="navbar_id">
                                <% Navbar.all.each do |x| %>
                                    <% if @mod == "1" && @menu.navbar_id == x.id %>
                                        <option value="<%= x.id %>" selected><%= x.title %></option>
                                    <% else %>
                                        <option value="<%= x.id %>"><%= x.title %></option>
                                    <% end %>   
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group2">
                            <label>순서</label>
                            <input type="text" name="index" class="form-control" value="<%= @menu.index %>" require>
                        </div>
                        <div class="form-group2">
                            <label>level(보이게할)</label>
                            <input type="text" name="level" class="form-control" value="<%= @menu.level %>" require>
                        </div>
                        <div class="form-group2">
                            <label>icon(생략)</label>
                            <input type="text" name="icon" class="form-control" value="<%= @menu.icon %>" require>
                        </div>
                        <div class="form-group2">
                            <label>제목</label>
                            <input type="text" name="title" class="form-control" value="<%= @menu.title %>" require>
                        </div>
                        
                        <div class="form-group2">
                            <label>Type(url, divider, header)</label>
                            <% if @mod == "1" %>
                            <select name="ltype">
                                <% if @menu.ltype == "header" %>
                                    <option value="header" selected>헤더</option>
                                    <option value="divider">Divider</option>
                                    <option value="link">Link</option>
                                <% elsif @menu.ltype == "divider" %>
                                    <option value="header">헤더</option>
                                    <option value="divider" selected>Divider</option>
                                    <option value="link">Link</option>
                                <% elsif @menu.ltype == "link" %>
                                    <option value="header">헤더</option>
                                    <option value="divider">Divider</option>
                                    <option value="link" selected>Link</option>
                                <% end %>
                            </select>
                            <% else %>
                            <select name="ltype">
                                <option value="header">헤더</option>
                                <option value="divider">Divider</option>
                                <option value="link" selected>Link형</option>
                            </select>
                            <% end %>
                        </div>
                        <div class="form-group2">
                            <label>URL(link형일 경우)</label>
                            <input type="text" name="url" class="form-control" value="<%= @menu.url %>" require>
                        </div>
                    </div>
                
                    <div class="row" align="right">
                        <% if @mod == "1" %>
                            <a class="btn btn-orange" href="/admin/del_menu?id=<%= @menu.id %>">삭제</a>
                            <input type="submit" value="수정" class="btn btn-orange" />
                        <% else %>
                        <input type="submit" value="등록" class="btn btn-orange" />
                        <% end %>
                        <a class="btn btn-orange" href="/admin/index?admin=menu">취소</a>
                        
                    </div>
                </form>
                
            
            
            </div>
        </div>
        
    	<div class="row">
    		<hr class="feature-divider">
    	</div>
    </div>
	<div class="col-md-1"></div>
</div>