            <div class="well well-out">
                <%#= form_for @sb, url: {controller: 'admin', action:'add_sb'} do |f| %>
                <form action="/admin/m_nav" method="POST">
                    <input type="hidden" name="mod" value="<%= @mod %>">
                    <input type="hidden" name="id" value="<%= @nav.id %>">
                    <div class="well well-in">
                        <div class="form-group2">
                            <label>순서</label>
                            <input type="text" name="index" class="form-control" value="<%= @nav.index %>" require>
                        </div>
                        <div class="form-group2">
                            <label>level(보이게할)</label>
                            <input type="text" name="level" class="form-control" value="<%= @nav.level %>" require>
                        </div>
                        <div class="form-group2">
                            <label>제목</label>
                            <input type="text" name="title" class="form-control" value="<%= @nav.title %>" require>
                        </div>
                        <div class="form-group2">
                            <label>style_class(생략)</label>
                            <input type="text" name="style_class" class="form-control" value="<%= @nav.style_class %>" require>
                        </div>
                        <div class="form-group2">
                            <label>icon(생략)</label>
                            <input type="text" name="icon" class="form-control" value="<%= @nav.icon %>" require>
                        </div>
                        <div class="form-group2">
                            <label>Type(link,dropdown)</label>
                            <% if @mod == "1" %>
                            <select name="ltype">
                                <% if @nav.ltype == "link" %>
                                    <option value="link" selected>링크형</option>
                                    <option value="dropdown">드랍다운리스트형</option>
                                <% elsif @nav.ltype == "dropdown" %>
                                    <option value="link">링크형</option>
                                    <option value="dropdown" selected>드랍다운리스트형</option>
                                <% end %>
                            </select>
                            <% else %>
                            <select name="ltype">
                                <option value="link">링크형</option>
                                <option value="dropdown" selected>드랍다운리스트형</option>
                            </select>
                            <% end %>
                        </div>
                        <div class="form-group2">
                            <label>URL(link형일 경우)</label>
                            <input type="text" name="url" class="form-control" value="<%= @nav.url %>" require>
                        </div>
                        <div class="form-group2">
                            <label>col-xs-</label>
                            <input type="text" name="xs" class="form-control" value="<%= @nav.xs %>" require>
                        </div>
                        <div class="form-group2">
                            <label>sm</label>
                            <input type="text" name="sm" class="form-control" value="<%= @nav.sm %>" require>
                        </div>
                        <div class="form-group2">
                            <label>md</label>
                            <input type="text" name="md" class="form-control" value="<%= @nav.md %>" require>
                        </div>
                        <div class="form-group2">
                            <label>lg</label>
                            <input type="text" name="lg" class="form-control" value="<%= @nav.lg %>" require>
                        </div>
                    </div>
                
                    <div class="row" align="right">
                        <% if @mod == "1" %>
                            <a class="btn btn-orange" href="/admin/del_nav?id=<%= @nav.id %>">삭제</a>
                            <input type="submit" value="수정" class="btn btn-orange" />
                        <% else %>
                        <input type="submit" value="등록" class="btn btn-orange" />
                        <% end %>
                        <a class="btn btn-orange" href="/admin/index?admin=navbar">취소</a>
                        
                    </div>
                </form>
                
            
            
            </div>
        </div>
        
    	<div class="row">
    		<hr class="feature-divider">
    	</div>
    </div>
	<div class="col-md-1"></div>
</div>